*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MI PALETA DE COLORES */
/* GRIS   #45474B */
/* AMARILLO   #F4CE14 */
/* BLANCO   #F5F7F8 */  

body{
    background: #F4CE14;
    background: linear-gradient(90deg, rgba(244, 206, 20, 1) 0%, rgba(191, 187, 169, 1) 53%, rgba(191, 187, 169, 1) 59%, rgba(244, 206, 20, 1) 100%);
    font-family:"Roboto", sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
/*ESTILOS PARA EL HEADEER*/
header img{
    width: 100px;
    border-radius: 50%;
}
.barra-nav{
background-color: #F4CE14;
position: fixed;
width: 100%;
margin: 0;
padding: 5px;
z-index: 1000;
}
/*header {
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: #F4CE14;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
#img-logo {
    width: 1fr;
    height: 95%;
    margin: 10px;
    border-radius: 50%;

}

#lista-busqueda {
   display: flex;
}
.barra-busqueda a:hover{
    color: #333;
    opacity: 0.7;
}
.barra-busqueda {
    list-style: none;
    transition: opacity 0.3s ease;
}

.barra-busqueda a {
    color:#F5F7F8  ;
    text-decoration: none;
    padding: 15px;
    font-family:"Roboto", sans-serif ;    
}
    */
/*Estilos para el Main*/
main{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 120px;
}
/*ESTILOS PARA EL INDEX */
.fondo-titulo{
    background-image: url(../herramientas/excabadoras-titulo.png);
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.subtitulo-index1{
    font-size: 3vw;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    padding: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.div-servicios{
    width: 30%;
    margin: 10px;
    height: 60vh;
}
.div-servicios:hover{
    background-color: #F4CE14;
    color: #F5F7F8;
    border-radius: 5%;
    transform: translateY(-10px);
}
.div-servicios img {
    width: 100%;
    height: 70%;
}

.subtitulo-index2{
    font-size: 3vw;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);   
}

.carrusel {
    width: 800px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
}
.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Estilos para el Foter*/
footer{
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: #F4CE14;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lista-redes{
    display: flex;

}
.img-redes {
    list-style: none;
}
.img-redes:hover{
    border-radius: 15%;
    background-color: yellow;
}
.img-redes a img{
    width: 50px;
    height: 59px;
}
/*ESTILOS PARA EL FORMULARION DE LA PAGINA CONTACTO*/
.form-contacto {
    background-color:#F5F7F8 ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 100%;
    max-width: 400px;
    margin: 30px;
}
#titulo-form {
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    
}
.input-form, .mensaje{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F4CE14;
    color: white ;
}
#btn-form {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #45474B;
    color: #ccc;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
/*ESTILOS PARA PAGINA QUIENES SOMOS*/
.contenedor-quienes-somos{
    padding: 10px;
    margin: 40px; /* Centra el grid horizontalmente */
    display: grid;
    grid-template-areas: 
        "img1 parrafo1"
        "parrafo2 img2"
        "img3 parrafo3";
    grid-template-columns: 1fr 1fr; /* Mejor que 40% 40% para centrado */
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    text-align: center;
}
.img1-qs{
    grid-area: img1;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
    border-radius: 5%;
}
.parrafo-1-qs{
    grid-area: parrafo1;
    font-size: 1.6rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.img2-qs{
    grid-area: img2;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
    gap: 10px;
    border-radius: 5%;
}
.parrafo-2-qs{
    grid-area: parrafo2;
    font-size: 1.7rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
.img3-qs{
    grid-area: img3;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
    gap: 10px;
    border-radius: 5%;
}
.parrafo-3-qs{
    grid-area: parrafo3;
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/*ESTILOS PARA LA PAGINA DE PRODUCTOS*/
.fila-1{
    margin: 10px;
}
.productos{
    margin: 10px;
}
.productos img{
    height: 250px;
}
.carta-productos{
    background-color: #555;
    color:#F5F7F8  ;
}
.boton-comprar{
    background-color: #BFBBA9;
}
.boton-comprar:hover{
    background-color: #F4CE14;
}

/*ESTILOS PARA LA PAGINA DE NUESTROS SERVICIOS*/
#subtitulo-servicios{
    color:#45474B;
    font-size: 4vw;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}
.seccion-servicios-1, .seccion-servicios-2{
display: flex;
padding: 10px;
margin: 10px;
text-align: center;
}

.mi-servicio{
    width: 30%;
    padding: 45px;
    margin: 10px;
    color: black;
    transition: transform 0.3s ease;
}
.mi-servicio:hover{
    background-color: #F4CE14;
    color: #F5F7F8;
    border-radius: 5%;
    transform: translateY(-10px);
}
.mi-servicio h3{
    font-size: 2rem;
}
.mi-servicio img{
    width: 100%;
    height: 50%;
}

/*SACAR EL HOVER QUE UTILIZAMOS EN ESCRITORIO PARA TELEFONOS*/
@media (hover: hover) or (pointer: fine) {
    .div-servicios:hover,
    .mi-servicio:hover,
    .barra-busqueda a:hover,
    .img-redes:hover,
    .boton-comprar:hover {
        background-color: #F4CE14;
        color: #F5F7F8;
        border-radius: 5%;
        opacity: 0.7; /* este es para los links, lo podés ajustar */
    }
}

/*MODELO RESPONSIVE PARA TELEFONOS*/
@media (max-width: 480px){
    /*HEADER*/
    header{
        flex-direction: column;
        height: 20%;
    }
    #img-logo{
        width: 70px;
        height:70px;
    }
    #lista-busqueda{
        justify-content: flex-start;
    }
    /*MAIN PARA TELEFONOS*/
    h1{
        text-align: center;
        font-size: 3rem;
    }
    .subtitulo-index1, .subtitulo-index2{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .contenedor-servicios {
        flex-direction: column;
        align-items: center;
    }
    .div-servicios {
        width: 90%;
    }
    .carrusel {
        height: 300px;
        width: 100%;
    }
    /*FOOTER PARA TELEFONOS*/
    footer{
        flex-direction: column;
        height: 20%;
    }
    footer p{
        font-size: 20px;
    }
    #div-redes{
        width: 100%;
    }
    #div-redes h2{
        text-align: center  ;
    }
    #lista-redes {
        justify-content: space-between;
    }

    /*ESTILO PARA EL FORUMULARIO DE CONTACTO EN TELEFONOS*/
    .form-contacto{
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    /*ESTILOS PARA EL QUIENES SOMOS EN TELEFONO*/
    .contenedor-quienes-somos{
        grid-template-areas: 
        "parrafo1"
        "img1"
        "parrafo2"
        "img2"
        "parrafo3";
        grid-template-columns: 1fr;
        grid-template-rows:repeat(5, 250px) ;
        gap: 5px;
        text-align: center;
    }
    .img3-qs{
        display: none;
    }
    .parrafo-1-qs{
        font-size: 1.1rem;
    }
    .parrafo-2-qs{
        font-size: 1.2rem;
    }
    .parrafo-3-qs{
        font-size: 1.2rem;
    }

    /*ESTILOS PARA LA PAGINA DE SERVICIOS*/
    #subtitulo-servicios{
        justify-content: center;
        font-size: 2rem ;
    }
    .seccion-servicios-1,.seccion-servicios-2{
        flex-direction: column;
        width: 100%;
    }
    .mi-servicio{
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    .mi-servicio h3{
        font-size: 1.5rem;
    }

}