//importacion para poder ocupar mis variables
@use "../partials/variables" as *;
/*ESTILOS PARA EL FORMULARIO DE LA PAGINA CONTACTO :)*/

.form-contacto {
    background-color:$blanco;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px $negro;
    width: 90%;
    height: 100%;
    max-width: 400px;
    margin: 30px;
    #titulo-form {
        text-align: center;
        color: $gris;
    }
    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
        color: #555;
        
    }
    .input-form, .mensaje{
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #F4CE14;
        color: $blanco ;
    }
    .btn-form {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        border: none;
        background-color: $gris;
        color: #ccc;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    .btn-form:hover{
        background-color: $blanco;
        color: $gris;
        border-radius: 5%;
    }
    
}