//importacion para poder ocupar mis variables
@use "../partials/variables" as *;
/*ESTILOS UNIVERSALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $gris-claro;
    font-family:"Roboto", sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    
}
/*Estilos del header*/
header{
    img{
        width: 100px;
        border-radius: 50%;
    }
    .barra-nav{
        background-color: $amarillo;
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 5px;
        z-index: 1000;
    }
}

/*ESTILOS DEL FOOTER*/
footer{
    width: 100%;
    height: 20%;
    padding: 10px;
    background-color: $amarillo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 1.3rem;
        text-shadow: 2px 2px 5px $negro;
    }
    #div-redes{
        h2{
            font-size: 2rem;
            text-shadow: 2px 2px 5px $negro;
        }
        #lista-redes{
            display: flex;
            .img-redes {
                list-style: none;
                :hover{
                    border-radius: 15%;
                    background-color: yellow;
                    transform: translateY(-5px);
                }
                a img{
                    width: 50px;
                    height: 59px;
                }
            }
        }
        
    }
}