//importacion para poder ocupar mis variables
@use "../partials/variables" as*;
/*ESTILOS DEL MAIN*/
main{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 120px;
}
h1{
    color: $blanco;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    text-shadow: 2px 2px 5px $negro;
}
.fondo-titulo{
    background-image: url(../herramientas/excabadoras-titulo.png);
    background-size: cover;
    background-position: center;
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ESTILOS DEL INDEX*/
.subtitulo-index1{
    font-size: 3vw;
    color: $blanco;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    padding: 10px;
    text-shadow: 2px 2px 5px $negro;
}
.contenedor-servicios{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    .div-servicios{
        width: 30%;
        margin: 10px;
        height: 60vh;
        img {
            width: 100%;
            height: 70%;
        }
        h3{
            text-shadow: 2px 2px 5px $negro;
        }
    
    }
    .div-servicios:hover{
        background-color: $amarillo;
        color: $blanco;
        border-radius: 5%;
        transform: translateY(-10px);
    }
}
.subtitulo-index2{
    @extend .subtitulo-index1;
    justify-content: center;
}
.carrusel-img {
    width: 800px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.subtitulo-index3{
    @extend .subtitulo-index1;
    justify-content: center;
}
.ubicacion-empresa{
    margin: 20px;
    width: 45%;
    height: 50vh;
    border-radius: 5%;

}