//importacion para poder ocupar mis variables
@use "../partials/variables" as *;
/*ESTILOS DE PAGINA QUIENES SOMOS :) */
.contenedor-quienes-somos{
    padding: 10px;
    margin: 40px; /* Centra el grid horizontalmente */
    display: grid;
    grid-template-areas: 
        "img1 parrafo1"
        "parrafo2 img2"
        "img3 parrafo3";
    grid-template-columns: 1fr 1fr; /* Mejor que 40% 40% para centrado */
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
    text-align: center;
    .items-img1{
        grid-area: img1;
        .img1-qs{
            @include img-grid;
        }
    }
    .items-p1{
        grid-area: parrafo1;
        .parrafo-1-qs{
            @include parrafo-grid(1.6rem,center,2px 2px 5px $negro);
        }
    }
    .items-img2{
        grid-area: img2;
        .img2-qs{
            @include img-grid;
        }
    }
    .items-p2{
        grid-area: parrafo2;
        .parrafo-2-qs{
            @include parrafo-grid(1.7rem,center,2px 2px 5px $negro);
        }
    }
    .items-img3{
        grid-area: img3;
        .img3-qs{
            @include img-grid;
        }
    }
    .items-p3{
        grid-area: parrafo3;
        .parrafo-3-qs{
            @include parrafo-grid(1.6rem,center,2px 2px 5px $negro);
        }
    }
    
}