//importacion para poder ocupar mis variables
@use "../partials/variables" as *;
/*ESTILOS PARA PAGINA DE NUESTROS SERVICIOS :) */
#subtitulo-servicios{
    color: $gris;
    font-size: 4vw;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}
.seccion-servicios-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    .mi-servicio1, .mi-servicio2,.mi-servicio3,.mi-servicio4,.mi-servicio5,.mi-servicio6{
        width: 30%;
        height: 75vh;
        padding: 45px;
        margin: 10px;
        color: $negro;
        transition: transform 0.3s ease;
        h3{
            font-size: 2rem;
        }
        img{
            width: 100%;
            height: 55%;
        }
        p{
            font-size: 1.05rem;
        }
    }
    .mi-servicio6{
        @extend .mi-servicio1;
        h3{
            font-size: 1.6rem;
        }
        p{
            font-size: 1.15rem;
        }
    }
    .mi-servicio1:hover,.mi-servicio2:hover,.mi-servicio3:hover,.mi-servicio4:hover,.mi-servicio5:hover,.mi-servicio6:hover{
        background-color: $amarillo;
        color: $blanco;
        border-radius: 5%;
        transform: translateY(-10px);
    }
}
